@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
  margin: 0px;
  padding: 0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: white;
  font-family: 'Space Grotesk', sans-serif;

}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.eventdash {
  color: black;
  width: 100%;
  height: 100%;
}

.card_container {
  width: 80%;
  /* height: 80%; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.card {
  width: 300px;
  height: 150px;
  border: 1px solid gray;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: #6363fc;
  border-radius: 10px;
  color: white;
  border: none;
}

.card p {
  text-align: center;
}

a {
  text-decoration: none;
  margin: 30px 20px;
}

.table_container {
  background-color: rgba(40, 40, 40);
  min-height: calc(100vh - 50px);
  width: 95%;
  margin: 10px auto;
  border-radius: 10px;
  position: relative;
}

.table_container table {
  background: rgba(255, 255, 255, 0.0001);
  width: 100%;
  text-align: center;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.sync-btn {
  padding: 20px 60px;
  font-size: 20px;
  font-weight: 800;
  background: #a5dc86;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}

table,
th,
td {
  background: rgba(255, 255, 255, 0.002);
  border-width: 1px;
  border-style: solid;
  border-color: #5B5B5B;
  border-radius: 10px;
  padding: 7px;
}

table input,
table select {
  color: white;
  width: calc(100% - 20px);
  background: #6a6a6a;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px;
}

.form {
  width: calc(100% - 40px);
  position: absolute;
  bottom: 0;
  background: #575ce5;
  padding: 20px;
  margin: auto;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: space-evenly;
}

.form .Input_filed {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

.form .Input_filed input {
  color: rgb(0, 0, 0);
  /* width: calc(100% - 20px); */
  background: #f0f0f0;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px;
}

.form .submit_btn {
  width: 100px;
  border-radius: 5px;
  border: none;
  background: #00cf00;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.form .submit_btn:hover {
  background: #00b900;
}

@media only screen and (max-width: 500px) {
  .table_container {
    width: 100vh;
    height: 100;
  }
}